footer {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    background: #04244F;
    padding: 10px;
    .imagens{
        display: flex;
        align-items: center;
        & a{
            padding: 0 20px;
        }
    }
    .subtitulo{
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        align-items: center;
    }
}